.center-div{
    padding-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}
.row-div{
    align-content: center;
    padding-top: 25px;
    padding-left: 40%;
}
.center-text{
    text-align: center;
}

.register_button{
    align-content: center;
    text-decoration: none;
    color:white;
    background-color: #7a34eb;
    padding: 8px 8px;
    margin-left: 20px;
    border-radius: 2px;
}