{% extends "layout.html" %}
{% block content %}
<form method="post" class="main">
    <label for="nome">Nome do site:</label>
    <input id="nome" name="nome" required />
    <br>
    <label for="endereco">Endereço (URL):</label>
    <input id="endereco" name="endereco" required />
    <br>
    <label for="telefone">Telefone:</label>
    <input id="telefone" name="telefone" required />
    <br>
    <label for="senha">Senha:</label>
    <input id="senha" name="senha" type="password" required />
    <br>
    <button type="submit">Submit</button>
</form>
{% endblock content %}
