<head>
    <script type="text/javascript" src="{{url_for('static', filename='script/home.js')}}"></script>
</head>
{% extends "layout.html" %}

{% block content %}
<div>
    {% if data.logado == True %}
    Logado como: {{ data.username }}<br>
    Token: {{ data.token }}<br>
    {% endif %}
</div>

<div id="main-content">
    Tabela Frontend
    <table id="main-table-content">
    </table>
</div>

<div>
    Tabela Backend
    {# Verifica se as variaveis necessárias para criar uma tabela existem e se existir inclui o template de tabela#}
    {% if table_data is defined %}
        {% include 'table.html'  %}
    {% endif %}
</div>
{% endblock content %}
