{% extends "layout.html" %}

{% block content %}
    <div class="searchPromocao">
        <label for="queryCity" >Cidade:</label>
        <input id="queryCity" name="queryCity" />
        <label for="startDate" >Data inicial:</label>
        <input id="startDate" name="startDate" />
        <label for="endDate" >Data final:</label>
        <input id="endDate" name="endDate" />
        <button type="button" onClick="searchPromocao()">Procurar</button>
        <br>
        <br>
    </div>
    <!-- {# Verifica se as variaveis necessárias para criar uma tabela existem e se existir inclui o template de tabela#}
    {% if table_data is defined %} -->
        {% include 'table.html'  %}
    <!-- {% endif %} -->
    <script>
        $( function() {
            $( "#startDate" ).datepicker();
            $( "#endDate"   ).datepicker();
        } )
        home();
    </script>
    
{% endblock content %}
