<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title is defined %}<title>{{ title }}</title>
    {% else %}<title>Promoções em Hotéis</title>{% endif %}
    <script type="text/javascript" src="{{url_for('static', filename='script/login.js')}}"></script>
</head>
<body>
    <header>
        <h1>Promoções de Hotéis</h1>
        <div id="top-menu">
            <ul>
                {% if data.logado %}
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/cadastrar">Cadastrar</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
    <div id="side-menu">
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="#">Listar Sites</a></li>
            <li><a href="#">Listar Hotéis</a></li>
            <li><a href="#">Criar Promoção</a></li>
        </ul>
    </div>
{% block content %}
{% endblock %}
</body>
</html>