<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title is defined %}<title>{{ title }}</title>
    {% else %}<title>Otelo</title>{% endif %}
    <script type="text/javascript" src="{{url_for('static', filename='script/login.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='script/home.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='script/cadastro.js')}}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <link rel="shortcut icon" href="/static/Otelo.svg">
</head>
<body>
    <div class="top_menu">
        <ul>
            {% if data.logado %}
            <li><a href="/logout">Logout</a></li>
            <li>{{data.username}}</li>
            {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/cadastrar">Cadastrar</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="side_menu">
        <img src="/static/Otelo.png" style="padding-left:20px;" width="150"> </li>
        <ul>
            <br> 
            <li><a onclick="home()">Início</a></li>
            <li><a onclick="sites()">Sites</a></li>
            <li><a onclick="hoteis()">Hotéis</a></li>
            {% if data.logado %}
            <li><a href="/cadastrar/promocao">Criar Promoção</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="main">
{% block content %}
{% endblock %}
    </div>
</body>
</html>

