<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <ul> {% if data.logado %}
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/cadastrar">Cadastrar</a></li>
            {% endif %}
        </ul>
    </header>
{% block content %}
{% endblock %}
</body>
</html>