.container{
    
    margin-top: 10%;
    margin-left: 32%;
    margin-right: 32%;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #48facd;
    border-radius: 10px;
    background-color: #303030;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    padding-left: 20%;
}

.container .row{
    padding-left: 80px;
    margin-bottom: 10px;
}


.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
.col-75 {
    float: left;
    width: 75%;
    padding: 8px;
    border-style: none;
    border-radius:5px;
    margin-top: 6px;
}

h3{
    text-align: center;
}

input[type=submit] {
    background-color: #04aa8e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }