.filter_field{
    padding: 5px 20px 20px 20px;
    display: inline-flex;
}

.field{
    border-style: none;
    margin-left: 10px;
    padding: 8px;
    border-radius: 2px;
}


.promo-button{
    padding: 8px;
    border-radius: 2px;
    display: inline;
    float: left;
    background-color: #7a34eb;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;

}
.table_wrapper{
    margin-left: 1%;
}
.table-title{
    margin: 20px;
}

table, th, td {
    /* border: 1px solid #a4a0aa; */
    border-collapse: collapse;
}
td, th {
    border: 1px solid black; 
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

tr:nth-child(even){background-color:#29292e;}
tr:hover {background-color: #6a5e88;}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7a34eb;
    color: white;
}


@media screen and (max-width: 1010px) {
    td, th {
        border: 1px solid black;
        padding: 6px;
    }
    .table_wrapper{
        margin: 10px;
    }
}