body {
    font-family: Helvetica;
    font-size: medium;
    padding: 0px ;
    margin: 0;
}



input, textarea {
    background-color : #404040;
    color: #efefef;
}


.main_body{
    background-color:#202020;
    color: #efefef;
    grid-auto-flow: column;
    grid-template-columns: max-content;
    width: 100vw;
    height: 100vh;
}