body {
    font-family: Helvetica;
    font-size: medium;
    padding: 0px ;
    margin: 0;
}

.main {
    /*margin-left: 220px; /* Same as the width of the sidenav */
    /*margin-top: 75px; /* Same as the width of the sidenav */
    
    text-decoration: none;
}

.main_body{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content;
    width: 100vw;
    height: 100vh;
}