
.top_menu li {
    display: block;
    float: right;
    border-bottom: 1px solid #22222200;
}


.top_menu li:hover {
    border-bottom: 1px solid #7a34eb;
    
}
.top_menu li a{
    cursor: pointer;
    color: white;
    text-decoration: none;
    display: block;
}

.top_menu ul{

    width: 100%;
    list-style-type: none;
    margin: 0;
    padding-right: 10px;
    overflow: hidden;
    background-color: #17171a;
}


.top_menu{
    display: flex;
    flex-flow: row-reverse;
    width: 100%;
    
}

.top-left-align {
    float: left;
}

.top-button{
    cursor: pointer;
    background-color: rgba(34, 34, 34, 0);
    border: none;
    color: white;
    padding: 16px 16px;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.top_menu img {
    padding: 0px;
    border: 0px;
    height: 45px;
    width: 45px;
}

.bold{
    font-weight: bolder;
}

.top_menu .logo{
    border-bottom: 1px solid #22222200;
    
}
.top_menu .logo:hover{
    border-bottom: 1px solid #22222200;
    
}
