
.top_menu li {
    display: block;
    float: right;
}
.top_menu li:hover {
    background-color: #222;
    
}
.top_menu li a{
    color: white;
    text-decoration: none;
    display: block;
}
.top_menu li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
.top_menu ul{
    /*position: fixed;
    top: 0;
    já q mudei para grid o main body, isso acaba quebrando o layout
    */
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding-right: 10px;
    overflow: hidden;
    background-color: #333;
}

/*adicionei isso pra poder controlar o tamanho da top bar e remover a necessidade de posição fixa, tbm se
adicionar outras coisas nela ela já se adapta bem
*/
.top_menu{
    display: flex;
    flex-flow: row-reverse;
    
}
