body {
    font-family: Helvetica;
    font-size: medium;
}
  
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td, th {
    border: 1px solid #ddd;
    padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #39b499;
    color: white;
}

.input_text, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
input[type=submit], .register_button {
    background-color: #39b499;
    color: white;
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    text-decoration: none;
}
  
input[type=submit]:hover, button:hover {
    background-color: #238671;
}
  
.container {
    margin-top: 15%;
    margin-left: 25%;
    width: 40%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
  
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
.col-75 {
    float: left;
    width: 40%;
    margin-top: 6px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}


.side_menu{
    border-right-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 20px;
}
.side_menu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}
.side_menu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
.side_menu a:hover {
    background-color: #555;
    color: white;
}
.side_menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.top_menu li {
    display: block;
    float: right;
}
.top_menu li:hover {
    background-color: #222;
    
}
.top_menu li a{
    color: white;
    text-decoration: none;
    display: block;
}
.top_menu li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
.top_menu ul{
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.main {
    margin-left: 220px; /* Same as the width of the sidenav */
    margin-top: 75px; /* Same as the width of the sidenav */
    padding: 0px 10px;
    text-decoration: none;
}